@font-face{
    font-family: "Belanosima";
    src: url(https://fonts.googleapis.com/css2?family=Belanosima&display=swap);
}

@font-face{
    font-family: "GBShinto";
    src: url(Recursos/GBShinto-Regular.otf);
}

/*Nav bar*/

/*Adaptado a mobile*/
@media(max-width: 720px){

    .H-Titulo{
        display: none;
        font-size: 0px;
    }

}

header, ul, a{
    font-family: "Belanosima", sans-serif;
    font-size: 25px;
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: space-between;
    background-color: #202225;
    list-style: none;
    padding: 0px;
}

.H-Logo{
    display: flex;
    padding: 0px 5px 0px 10px;
    width: 50px;
    transition: all 1s ease-in-out;
}
.H-Logo:hover {
    transform: rotate(90deg);
}

.H-Titulo{
    display: flex;
    align-items: center;
    font-family: "GBShinto";
}

.N-Items{
    padding: 0px 25px 0px 0px;
}

a:hover{
    color: rgb(22, 206, 206);
    text-decoration: underline;
}
/*Nav bar*/

body{
    background-color: #2f3136;
    margin: 0px;
}

p{
    margin: 25px;

}

footer{
    background-color: #202225;
    margin: 0px;
}

h6{
    color: white;
    text-align: center;
    font-family: 'GbShinto', Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 25px;
}